body{
    font-family: arial;
}
.fr
{
    display: flex;
    flex-direction: row;
    align-items: baseline;
    justify-content: space-between;
}
.main{
    background-color: whitesmoke;
    padding: 5px;
    margin: auto;
    width: 625px;
    height: 400px;
	border: 2px solid lightgreen;
}
.txtb1{
    height: 18px;
    width: 50px;
}
.txtb2{
    margin-top:14;
    width: 590px;
}
.box{
    height: 150px;
    width: 285px;
    border: 1px solid lightgray;
    padding: 10px 10px 10px 10px;
}
#TextWr{
    margin-bottom: 10px;
}
#show
{
    margin: 10 0 0 246px;
    height: 30;
    border-radius: 4px;
}
.tt{
    margin: 220;
}